generator1.json.txt
{
  "name": "AI Exam System Complete",
  "nodes": [
    {"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,400],"id":"node-01","name":"Run Document Ingestion"},
    {"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'1sRClZrG_zPSWmsYdrw5odDU_99vc1287' in parents and mimeType='application/pdf'","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1180,400],"id":"node-02","name":"Search PDFs in Drive","credentials":{"googleDriveOAuth2Api":{"id":"guHMBDZHggYfQRAh","name":"Google Drive account"}}},
    {"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json[\"id\"]}}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-960,400],"id":"node-03","name":"Download PDF","credentials":{"googleDriveOAuth2Api":{"id":"guHMBDZHggYfQRAh","name":"Google Drive account"}}},
    {"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-740,400],"id":"node-04","name":"Insert into Vector Store","credentials":{"supabaseApi":{"id":"L8e7cKqiyhOLHmhB","name":"Supabase account"}}},
    {"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-740,560],"id":"node-05","name":"PDF Document Loader"},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference","typeVersion":1,"position":[-740,720],"id":"node-06","name":"Embeddings for Ingestion","credentials":{"huggingFaceApi":{"id":"HPhenQp0qlhJo7xP","name":"HuggingFaceApi account"}}},
    {"parameters":{"httpMethod":"POST","path":"generate-questions","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1400,-200],"id":"node-07","name":"Faculty Generate Questions Webhook"},
    {"parameters":{"operation":"executeQuery","query":"UPDATE exam_papers SET n8n_generation_status='generating' WHERE id='{{ $json.paper_id }}'::UUID RETURNING id, subject, chapter, question_type, total_questions, marks_per_question, generation_prompt","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1160,-200],"id":"node-08","name":"Activate Paper in DB","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"options":{"systemMessage":"You are an expert academic question paper generator.\n\nYou MUST call the Supabase Vector Store tool first to retrieve syllabus content.\n\nNEVER generate from general knowledge. Only use retrieved content.\n\nGenerate the requested number of questions of the specified type.\n\nFor MCQ: include 4 options A B C D and one correct answer.\nFor Descriptive: include key answer points as correct_answer and set options to null.\n\nRespond ONLY in this exact JSON format with no markdown and no extra text:\n{\"questions\":[{\"question_number\":1,\"question_text\":\"question here\",\"question_type\":\"MCQ\",\"options\":{\"A\":\"option a\",\"B\":\"option b\",\"C\":\"option c\",\"D\":\"option d\"},\"correct_answer\":\"A\",\"source_chunk\":\"brief excerpt\",\"max_marks\":10}]}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-880,-200],"id":"node-09","name":"Question Generator Agent"},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1040,-40],"id":"node-10","name":"Gemini Question Gen","credentials":{"googlePalmApi":{"id":"rhJ5iqqeoAyElrJL","name":"Google Gemini(PaLM) Api account"}}},
    {"parameters":{"mode":"retrieve-as-tool","toolDescription":"Retrieve syllabus content to generate exam questions. Send chapter name or topic as query.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"useReranker":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-700,-40],"id":"node-11","name":"Vector Store Question Gen","credentials":{"supabaseApi":{"id":"L8e7cKqiyhOLHmhB","name":"Supabase account"}}},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference","typeVersion":1,"position":[-580,120],"id":"node-12","name":"Embeddings Question Gen","credentials":{"huggingFaceApi":{"id":"HPhenQp0qlhJo7xP","name":"HuggingFaceApi account"}}},
    {"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[-480,-40],"id":"node-13","name":"Reranker Question Gen","credentials":{"cohereApi":{"id":"iCNlMijl1x2H1OMH","name":"CohereApi account"}}},
    {"parameters":{"jsCode":"var paperId = $('Activate Paper in DB').first().json.id;\nvar output = $('Question Generator Agent').first().json.output || '';\nvar parsed;\ntry {\n  var clean = output.replace(/```json/g,'').replace(/```/g,'').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  return [{json:{error:'Parse failed',raw:output}}];\n}\nif (!parsed.questions) return [{json:{error:'No questions',raw:output}}];\nreturn parsed.questions.map(function(q){\n  return {json:{\n    paper_id:paperId,\n    question_number:q.question_number,\n    question_text:q.question_text,\n    question_type:q.question_type,\n    options:q.options?JSON.stringify(q.options):null,\n    correct_answer:q.correct_answer||'',\n    source_chunk:q.source_chunk||'',\n    max_marks:q.max_marks||10\n  }};\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,-200],"id":"node-14","name":"Parse Generated Questions"},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO exam_questions (paper_id,question_number,question_text,question_type,options,correct_answer,source_chunk,max_marks) VALUES ('{{ $json.paper_id }}'::UUID,{{ $json.question_number }},'{{ $json.question_text.replace(/\\x27/g,\"''\") }}','{{ $json.question_type }}',{{ $json.options ? \"'\" + $json.options + \"'::JSONB\" : 'NULL' }},'{{ ($json.correct_answer||\"\").replace(/\\x27/g,\"''\") }}','{{ ($json.source_chunk||\"\").replace(/\\x27/g,\"''\") }}',{{ $json.max_marks }}) ON CONFLICT (paper_id,question_number) DO UPDATE SET question_text=EXCLUDED.question_text,correct_answer=EXCLUDED.correct_answer","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-300,-200],"id":"node-15","name":"Save Questions to DB","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"operation":"executeQuery","query":"UPDATE exam_papers SET n8n_generation_status='done',status='published',published_at=NOW() WHERE id='{{ $(\"Activate Paper in DB\").first().json.id }}'::UUID","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-60,-200],"id":"node-16","name":"Mark Paper as Published","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"respondWith":"json","responseBody":"{\"success\":true,\"message\":\"Questions generated. Paper published.\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[180,-200],"id":"node-17","name":"Respond to Faculty"},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1400,-700],"id":"node-18","name":"Student Exam Chat","webhookId":"exam-conductor-unified-2026"},
    {"parameters":{"options":{"systemMessage":"You are an AI Exam Conductor. Your job is to conduct exams question by question.\n\nWhen the student provides their session_token call GetCurrentQuestion to fetch the next unanswered question.\n\nFor MCQ show options A B C D clearly.\nFor Descriptive accept typed answer or tell them to upload image via web app.\n\nWait for their answer. Call SubmitAnswer to save it. Confirm saved then fetch next question. Repeat until all questions answered.\n\nWhen exam is complete or student says submit or done call EndExam and tell them results will be ready in 1 to 2 minutes.\n\nRules: Never reveal correct answers. Never skip questions unless student says skip. Record skips via SubmitAnswer with answer_type as skipped. Never evaluate or give hints."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1060,-700],"id":"node-19","name":"Exam Conductor Agent"},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1220,-540],"id":"node-20","name":"Gemini Conductor","credentials":{"googlePalmApi":{"id":"rhJ5iqqeoAyElrJL","name":"Google Gemini(PaLM) Api account"}}},
    {"parameters":{"contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1000,-540],"id":"node-21","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"name":"GetCurrentQuestion","description":"Get the next unanswered question for a student session. Requires session_token.","method":"GET","url":"=http://exam_backend:8000/api/exam/question/{{ $fromAI('session_token','session token string') }}/next","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-800,-540],"id":"node-22","name":"Tool GetCurrentQuestion"},
    {"parameters":{"name":"SubmitAnswer","description":"Save a student answer. Requires session_token, question_number, student_answer, answer_type (text or skipped).","method":"POST","url":"http://exam_backend:8000/api/exam/answer","sendBody":true,"contentType":"json","body":"{\"session_token\":\"{{ $fromAI('session_token','session token') }}\",\"question_number\":{{ $fromAI('question_number','question number as integer') }},\"student_answer\":\"{{ $fromAI('student_answer','the answer text') }}\",\"answer_type\":\"{{ $fromAI('answer_type','text or skipped') }}\"}","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-600,-540],"id":"node-23","name":"Tool SubmitAnswer"},
    {"parameters":{"name":"EndExam","description":"End and submit the exam session. Requires session_token.","method":"POST","url":"http://exam_backend:8000/api/exam/end","sendBody":true,"contentType":"json","body":"{\"session_token\":\"{{ $fromAI('session_token','session token') }}\"}","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-400,-540],"id":"node-24","name":"Tool EndExam"},
    {"parameters":{"httpMethod":"POST","path":"evaluate-session","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1400,-1200],"id":"node-25","name":"Evaluate Session Webhook"},
    {"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_session_answers('{{ $json.session_id }}'::UUID)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1160,-1200],"id":"node-26","name":"Fetch All QA Pairs","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"batchSize":1,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-920,-1200],"id":"node-27","name":"Loop One Question at a Time"},
    {"parameters":{"options":{"systemMessage":"You are a strict academic answer evaluator.\n\nRules:\n- If answer_type is skipped or student_answer is empty award 0 marks and set feedback to Not attempted.\n- If answer_type is image the image_base64 field has a handwritten answer image. Read it visually.\n- Call the RetrieveSyllabusContent tool to get the correct answer from the syllabus.\n- For MCQ: full marks if correct zero if wrong. Set is_correct to true or false.\n- For Descriptive: partial marks based on completeness. Set is_correct to null.\n\nRespond ONLY in this exact JSON format with no markdown:\n{\"marks_awarded\":0,\"max_marks\":10,\"is_correct\":null,\"accuracy_percent\":0,\"feedback\":\"feedback here\",\"correct_context\":\"correct answer from syllabus\"}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-660,-1200],"id":"node-28","name":"Evaluator Agent"},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-820,-1040],"id":"node-29","name":"Gemini Evaluator","credentials":{"googlePalmApi":{"id":"rhJ5iqqeoAyElrJL","name":"Google Gemini(PaLM) Api account"}}},
    {"parameters":{"mode":"retrieve-as-tool","toolDescription":"Retrieve syllabus content to verify student answers. Send the question text as query.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"useReranker":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-480,-1040],"id":"node-30","name":"RetrieveSyllabusContent","credentials":{"supabaseApi":{"id":"L8e7cKqiyhOLHmhB","name":"Supabase account"}}},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference","typeVersion":1,"position":[-340,-1040],"id":"node-31","name":"Embeddings Evaluator","credentials":{"huggingFaceApi":{"id":"HPhenQp0qlhJo7xP","name":"HuggingFaceApi account"}}},
    {"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[-200,-1040],"id":"node-32","name":"Reranker Evaluator","credentials":{"cohereApi":{"id":"iCNlMijl1x2H1OMH","name":"CohereApi account"}}},
    {"parameters":{"jsCode":"var sessionId = $('Evaluate Session Webhook').first().json.session_id;\nvar qa = $('Loop One Question at a Time').item.json;\nvar output = $('Evaluator Agent').item.json.output || '';\nvar ev;\ntry {\n  var clean = output.replace(/```json/g,'').replace(/```/g,'').trim();\n  ev = JSON.parse(clean);\n} catch(e) {\n  ev = {marks_awarded:0,max_marks:qa.max_marks||10,is_correct:false,accuracy_percent:0,feedback:'Could not evaluate.',correct_context:''};\n}\nreturn [{json:{\n  session_id:sessionId,\n  question_id:qa.question_id,\n  answer_id:qa.answer_id,\n  marks_awarded:ev.marks_awarded,\n  max_marks:ev.max_marks,\n  is_correct:ev.is_correct,\n  accuracy_percent:ev.accuracy_percent,\n  feedback:(ev.feedback||'').replace(/'/g,\"''\"),\n  correct_context:(ev.correct_context||'').replace(/'/g,\"''\")\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,-1200],"id":"node-33","name":"Parse Evaluation Output"},
    {"parameters":{"operation":"executeQuery","query":"SELECT save_evaluation('{{ $json.session_id }}'::UUID,'{{ $json.question_id }}'::UUID,'{{ $json.answer_id }}'::UUID,{{ $json.marks_awarded }},{{ $json.max_marks }},{{ $json.is_correct }},{{ $json.accuracy_percent }},'{{ $json.feedback }}','{{ $json.correct_context }}')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-120,-1200],"id":"node-34","name":"Save Evaluation to DB","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"operation":"executeQuery","query":"SELECT calculate_exam_result('{{ $(\"Evaluate Session Webhook\").first().json.session_id }}'::UUID)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[200,-1200],"id":"node-35","name":"Calculate Final Result","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"operation":"executeQuery","query":"SELECT er.*,ep.subject,ep.chapter,s.name AS student_name FROM exam_results er JOIN exam_sessions es ON es.id=er.session_id JOIN exam_papers ep ON ep.id=er.paper_id JOIN students s ON s.student_id=er.student_id WHERE er.session_id='{{ $(\"Evaluate Session Webhook\").first().json.session_id }}'::UUID","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[440,-1200],"id":"node-36","name":"Fetch Result for Summary","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"options":{"systemMessage":"Write a 3 to 4 sentence personalized performance summary for the student. Be warm encouraging and honest. Mention strengths and what to improve. Keep it concise and supportive."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[680,-1200],"id":"node-37","name":"AI Summary Agent"},
    {"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,-1040],"id":"node-38","name":"Gemini Summary","credentials":{"googlePalmApi":{"id":"rhJ5iqqeoAyElrJL","name":"Google Gemini(PaLM) Api account"}}},
    {"parameters":{"operation":"executeQuery","query":"SELECT update_result_summary('{{ $(\"Evaluate Session Webhook\").first().json.session_id }}'::UUID,'{{ $json.output.replace(/\\x27/g,\"''\") }}')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[920,-1200],"id":"node-39","name":"Save AI Summary","credentials":{"postgres":{"id":"AntAwPgmYNScKqrT","name":"Postgres account 2"}}},
    {"parameters":{"method":"POST","url":"http://exam_backend:8000/api/exam/evaluation-complete","sendBody":true,"contentType":"json","body":"{\"session_token\":\"{{ $(\"Evaluate Session Webhook\").first().json.session_token }}\",\"status\":\"evaluated\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,-1200],"id":"node-40","name":"Notify Backend Done"}
  ],
  "connections": {
    "Run Document Ingestion":{"main":[[{"node":"Search PDFs in Drive","type":"main","index":0}]]},
    "Search PDFs in Drive":{"main":[[{"node":"Download PDF","type":"main","index":0}]]},
    "Download PDF":{"main":[[{"node":"Insert into Vector Store","type":"main","index":0}]]},
    "PDF Document Loader":{"ai_document":[[{"node":"Insert into Vector Store","type":"ai_document","index":0}]]},
    "Embeddings for Ingestion":{"ai_embedding":[[{"node":"Insert into Vector Store","type":"ai_embedding","index":0}]]},
    "Faculty Generate Questions Webhook":{"main":[[{"node":"Activate Paper in DB","type":"main","index":0}]]},
    "Activate Paper in DB":{"main":[[{"node":"Question Generator Agent","type":"main","index":0}]]},
    "Gemini Question Gen":{"ai_languageModel":[[{"node":"Question Generator Agent","type":"ai_languageModel","index":0}]]},
    "Vector Store Question Gen":{"ai_tool":[[{"node":"Question Generator Agent","type":"ai_tool","index":0}]]},
    "Embeddings Question Gen":{"ai_embedding":[[{"node":"Vector Store Question Gen","type":"ai_embedding","index":0}]]},
    "Reranker Question Gen":{"ai_reranker":[[{"node":"Vector Store Question Gen","type":"ai_reranker","index":0}]]},
    "Question Generator Agent":{"main":[[{"node":"Parse Generated Questions","type":"main","index":0}]]},
    "Parse Generated Questions":{"main":[[{"node":"Save Questions to DB","type":"main","index":0}]]},
    "Save Questions to DB":{"main":[[{"node":"Mark Paper as Published","type":"main","index":0}]]},
    "Mark Paper as Published":{"main":[[{"node":"Respond to Faculty","type":"main","index":0}]]},
    "Student Exam Chat":{"main":[[{"node":"Exam Conductor Agent","type":"main","index":0}]]},
    "Gemini Conductor":{"ai_languageModel":[[{"node":"Exam Conductor Agent","type":"ai_languageModel","index":0}]]},
    "Postgres Chat Memory":{"ai_memory":[[{"node":"Exam Conductor Agent","type":"ai_memory","index":0}]]},
    "Tool GetCurrentQuestion":{"ai_tool":[[{"node":"Exam Conductor Agent","type":"ai_tool","index":0}]]},
    "Tool SubmitAnswer":{"ai_tool":[[{"node":"Exam Conductor Agent","type":"ai_tool","index":1}]]},
    "Tool EndExam":{"ai_tool":[[{"node":"Exam Conductor Agent","type":"ai_tool","index":2}]]},
    "Evaluate Session Webhook":{"main":[[{"node":"Fetch All QA Pairs","type":"main","index":0}]]},
    "Fetch All QA Pairs":{"main":[[{"node":"Loop One Question at a Time","type":"main","index":0}]]},
    "Loop One Question at a Time":{"main":[[{"node":"Evaluator Agent","type":"main","index":0}],[{"node":"Calculate Final Result","type":"main","index":0}]]},
    "Gemini Evaluator":{"ai_languageModel":[[{"node":"Evaluator Agent","type":"ai_languageModel","index":0}]]},
    "RetrieveSyllabusContent":{"ai_tool":[[{"node":"Evaluator Agent","type":"ai_tool","index":0}]]},
    "Embeddings Evaluator":{"ai_embedding":[[{"node":"RetrieveSyllabusContent","type":"ai_embedding","index":0}]]},
    "Reranker Evaluator":{"ai_reranker":[[{"node":"RetrieveSyllabusContent","type":"ai_reranker","index":0}]]},
    "Evaluator Agent":{"main":[[{"node":"Parse Evaluation Output","type":"main","index":0}]]},
    "Parse Evaluation Output":{"main":[[{"node":"Save Evaluation to DB","type":"main","index":0}]]},
    "Save Evaluation to DB":{"main":[[{"node":"Loop One Question at a Time","type":"main","index":0}]]},
    "Calculate Final Result":{"main":[[{"node":"Fetch Result for Summary","type":"main","index":0}]]},
    "Fetch Result for Summary":{"main":[[{"node":"AI Summary Agent","type":"main","index":0}]]},
    "Gemini Summary":{"ai_languageModel":[[{"node":"AI Summary Agent","type":"ai_languageModel","index":0}]]},
    "AI Summary Agent":{"main":[[{"node":"Save AI Summary","type":"main","index":0}]]},
    "Save AI Summary":{"main":[[{"node":"Notify Backend Done","type":"main","index":0}]]}
  },
  "active": true,
  "settings": {"executionOrder":"v1","binaryMode":"separate"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": ["exam-system","merged","production"]
}